/*Copyright 2023 Nick Falbo (https://nick.falbo.dev)
SPDX-License-Identifier: Apache-2.0*/
.pop-up-img {
    height: 200px;
    width: 200px;
    cursor: pointer;
}
.pop-up-frame {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height: 100%;
    width: 100%;
}
.zoomed-img {
    /*height: 80%;
    width: 80%;*/
    height: 35em;
    width: 35em;
}
@media screen and (max-width: 600px) {
    .zoomed-img {       
        height: 21em;
        width: 21em;
    }
}
.pop-up-exit-button {
    cursor: pointer;
    height: 55px;
    width: 55px;
    border: 0;
    background-color: transparent;
    padding-left: 75%;
    margin-bottom: 1%;
}
@media screen and (max-width: 600px) {
    .pop-up-exit-button {
        padding-left: 70%;
    }
}
/* make two botton spans cross for an 'x' */
.cross-one, .cross-two {
    display: block;
    position: absolute;
    border: 0;
    border-radius: 15px;
    background-color: white;
    height: 5px;
    width: 40px;
}
.cross-one {
    transform: rotate(45deg);
}
.cross-two {
    transform: rotate(-45deg);
}
